.grid_container {
  display: grid;
  grid-template-columns: 300px 200px 300px;
  grid-template-rows: 100px 20px 300px;
  justify-content: center;
  align-content: center;
}
.char {
  grid-column-start: 2;
  grid-column-end: 4;
  justify-content: center;
  align-content: center;
  grid-row: 1;
  color: #ffe300;
}

.char_info {
  grid-row: 3;
  justify-content: center;
  align-content: center;
}

.info {
  grid-column: 3;
  grid-row: 3;
  justify-content: center;
}
.characterSearch {
  padding: 15px;
}
